PORT=5000
MONGO_URI=mongodb+srv://SakshiPatil:sakshipatil123@quickcartdb.hwbinke.mongodb.net/?appName=QuickCartDB
JWT_SECRET=supersecretjwtkey_replace_me_in_productions
# Hardcoded Admin credentials for initialization
ADMIN_EMAIL=sakshipatil24january@gmail.com
ADMIN_PASSWORD=sakshipatil123
